* {
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", serif;
  margin: 0;
  background-color: rgb(32, 32, 32);
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
}

.add {
    background-color: aqua;
    border-radius: 3px;
    border: none;
    padding: 0.5rem 1rem;
    top: 1rem;
    right: 1rem;
    position: fixed;
    color: black;
    cursor: pointer;
}
.note {
    background-color: white;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    height: 400px;
    width: 400px;
}

.note .tools{
    background-color: aqua;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.note .tools button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    margin-left: 00.5rem;
    cursor: pointer;
}


.note .main{
    /* display: none; */
    background-color: #eee;
    overflow: hidden;
    height: 400px;
    width: 100%;
}

.note textarea{
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    height: 400px;
    width: 100%;
}

.note .hidden{
    display: none;
}